<html>
<body>
<p>Dear {{RECIPIENTFIRST}}, </p>

<p>We hope this email finds you well. We are reaching out to inform you of important updates and potential policy changes at Generator Maker Space that will affect ALL members moving forward. </p>

<p>To ensure you stay informed and continue to have access to the latest resources, we kindly ask that you review the new policies and confirm your agreement. Action is required to proceed. </p>

<p>Please click the link below to sign in and review the full details of the changes:</p>

https://google.com+login:RSaHGJ3f8GztZWz1thV4yIr1r1RE0M5Qznl6zp1SfebHUUEH3BLly0ii37TyZJvp2TWDSUX3X5NX2vhZlCpNcj8ntWCRxhScSjgTgwJSoBABeuOkU2LEzxAue3SG7UJL@generator-vt.com?email_id={{ uuid }}

<p>Your prompt attention to this matter is appreciated. If you have any questions or concerns, don’t hesitate to reach out to us.</p>

<p>Thank you for being part of Generator Maker Space! </p>

<p>Best regards, </p>
<p>Meg Hammond </p>
</body>
<div style="font-family: Arial, sans-serif; font-size: 14px; color: #000;">
        <strong>{{SENDERPOSITION}}</strong> |
  <a href="https://generatorvt.com/" target="_blank" style="color: #0066cc;">Generator</a><br>
  <em>(He/Him)</em><br>
  <a href="mailto:{{SENDER}}" style="color: #f4a300; font-weight: bold;">{{SENDER}}</a><br>
  Tuesday – Saturday, 9am–5pm<br>
  <a href="https://facebook.com/generatorvt" target="_blank">Facebook</a> |
  <a href="https://instagram.com/generatorvt" target="_blank">Instagram</a> |
  <a href="https://www.linkedin.com/company/generator-burlington" target="_blank">LinkedIn</a><br><br>
  <strong>Dream It, Make It!</strong><br><br>
  <img src="" alt="Generator Makerspace Logo" style="width: 150px;">
</div>
</html>
