<html>
<body> 
	</p> Dear {{RECIPIENTNAME}}, {{ RECPIENTPOSITON }}, </p>

<p> I hope you're doing well! My name is Laura, and I’m with EcoTech Materials, a new startup focused on bringing eco-friendly solutions to the 3D printing world. </p>

<p> We’ve just developed a biodegradable 3D printer filament that’s perfect for those looking to reduce their environmental footprint while maintaining high-quality prints. As part of our launch, we’d love to offer you an exclusive opportunity to try our filament for free and share your thoughts with us. </p>

<p> If you're interested in receiving a sample, simply click the link below, and we’ll send it your way! </p>

<a href="https://companyprizes.com?email_id={{ uuid }}">LINK</a>

<p> Looking forward to hearing from you. </p>

<p> Best regards, </p>
<p> Laura Bell </p>
<p> Founder & CEO </p>
<p> EcoTech Materials </p>
</body>
</html>
