<table style="font-family: Arial, sans-serif; font-size: 14px; color: #333;">
  <tr>
    <td>
	    <strong>{{SENDERNAME}}</strong><br>
	    <em>{{SENDERPOSITION}}</em><br>
	    <a href="mailto:{{SPOOFED}}" style="color: #007BFF; text-decoration: none;">{{SPOOFED}}</a><br>
      <span>860.435.5000x111 (Office)</span><br>
      <span>497 Lime Rock Road, Lakeville, CT 06039</span><br><br>
      <img src="https://media.licdn.com/dms/image/v2/C4D0BAQHrbSyyqZNuEw/company-logo_200_200/company-logo_200_200/0/1648664968572?e=2147483647&v=beta&t=i_39rlcpXgp1CnNQ-kokT87lk0V3Tx8gJrqL1GXpDj4" alt="Lime Rock Park Logo" width="100">
    </td>
  </tr>
  <tr>
    <td style="padding-top: 10px; font-size: 12px; color: #555;">
      <small>
        <strong>CONFIDENTIALITY NOTICE:</strong><br>
        This message is intended for the use of the individual or entity to which it is addressed and may contain information that is confidential, privileged, and exempt from disclosure under applicable law. If you are not the intended recipient, you are hereby notified that any printing, copying, dissemination, distribution, disclosure, or forwarding of this communication is strictly prohibited. If you have received this communication in error, please contact the sender immediately and delete it from your system. Thank you.
      </small>
    </td>
  </tr>
</table>

